<!DOCTYPE html>
<html>
<head>
  <title>ChiraqQuiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true  %>
  <%= stylesheet_link_tag "themes/ChiraqQuiz.min.css" %>
  <%= stylesheet_link_tag "themes/jquery.mobile.icons.min.css" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>
<body>
  <div data-role="navbar">
    <a href="#"><%= current_user.name if current_user %></a>
  </div><!-- /navbar -->
<%= yield %>

</body>
</html>
